* {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
}
/* body {
  height: 600vh;
} */

header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 40px 0;
  background-color: rgb(248, 251, 253);

  /* user-select: none; */
}

header nav {
  padding: 0 40px;
  /* height: 100px; */
  /* padding: 25px 25px; */
  font-size: 0.9rem;
  letter-spacing: 0.09em;
  max-width: 1040px;
  margin: 0 auto;
}
.desktop-nav {
  list-style: none;
  margin: auto 0;
  display: flex;
  /* gap: 3.5em; */
  justify-content: flex-end;
  align-items: center;
  font-size: 1.05em;

  /* border: 2px solid black; */
}
.desktop-nav li img {
  width: 100px;
}
.desktop-nav li:first-child {
  margin-right: auto;
}
.desktop-links:not(:first-child) {
  padding: 0 10px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}

.desktop-links:last-child {
  display: none;
}

.links-to-animate a {
  position: relative;
}

.links-to-animate a:hover {
  color: rgb(151, 175, 255);
  /* color: rgb(73, 115, 255); */
  transition: all 0.5s;
}
.links-to-animate a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: -5px;
  left: 50%;

  /* left: 20px; */
  background-color: rgb(139, 158, 221);
  transition: all 0.5s;
}
.links-to-animate a:hover:after {
  width: 100%;
  left: 0;
}
/*  */

.mobile-nav {
  background-color: rgb(34, 36, 68);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: 999;

  position: fixed;
  top: 0;
  right: 0;
}
.mobile-links {
  text-align: center;
}
.mobile-open-sidebar-icon {
  /* background-color: red; */
  margin-left: auto;
  margin-right: 20px;
}
.seperations {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
}
.mobile-links a {
  color: white;
}
.desktop-close-sidebar-icon {
  fill: black;
}
.mobile-open-sidebar-icon {
  fill: white;
}

/* Banner Section */
.banner-section {
  padding: 0 40px 40px 40px;
}
.banner-container {
  height: 700px;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("./img/ai-generated-8602262_1920.png");
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}
.banner-info-container {
  /* width: 70%; */
  max-width: 1200px;
  padding: 0 20px;
  height: 70%;
  display: flex;
  color: white;
  font-size: 1.8em;
  font-weight: 100;
  flex-direction: column;
  justify-content: space-around;
  font-family: "Poppins";
}

.banner-info-container h1 {
  font-size: 1.6em;
  font-weight: 400;
}
.banner-learn-more a {
  /* list-style: none; */
  color: black;
  text-decoration: none;
  background-color: rgb(255, 255, 255);
  padding: 15px 20px;
  font-weight: 300;
  font-size: 0.75em;
  border-radius: 5px;
  transition: 0.5s ease;
}

.banner-learn-more a:hover {
  background-color: rgb(221, 221, 221);
  transition: 0.5s ease;
}

/* Changing Doctoral Section */

.changing-doctoral-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 40px;
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.changing-container,
.doctoral-container {
  display: flex;
  flex: 1, 1, auto;
  /* height: 500px; */
  gap: 4em;
  align-items: center;
}

.changing-img,
.doctoral-img {
  flex-shrink: 0;
  width: 500px;
  /* width: 40%; */
}
.changing-img img,
.doctoral-img img {
  width: 100%;
  border-radius: 20px;
}
.changing-text,
.doctoral-text {
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  font-family: "Poppins";
  justify-content: center;
}

.changing-text h3,
.doctoral-text h3 {
  font-size: 2.1em;
  font-weight: 500;
}

.changing-text p,
.doctoral-text p {
  font-size: 1em;
}

.changing-text a,
.doctoral-text a {
  font-size: 1em;
  background-color: rgb(53, 53, 53);
  color: white;
  width: fit-content;
  padding: 15px 24px;
  text-decoration: none;
  transition: 0.5s ease;
}

.changing-text a:hover,
.doctoral-text a:hover {
  background-color: rgb(70, 70, 70);
  transition: 0.5s ease;
}

/* Quote Section */

.quote-div {
  height: 600px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/soren-funk-jQuky0VINAI-unsplash.jpg");

  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 40px 00px;
}
.quote-div p {
  text-shadow: 1px 1px black;
  font-size: 1.9em;
  width: 80%;
  font-style: italic;
  color: white;
}

/* Sign Up Section */

.sign-up-events-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 15em;
  padding: 60px 20px;
  font-family: "Poppins";
}

.sign-up-text {
  width: 50%;
  font-size: 2em;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.sign-up-form {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 5em;
}
.sign-up-form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.sign-up-form form input {
  font-size: 1em;
  max-width: 300px;
  padding: 22px 32px;
  border: 1px solid rgb(230, 230, 230);
}
.sign-up-button {
  margin-top: 20px;
  width: fit-content;
  background-color: rgb(53, 53, 53);
  color: white;
  width: fit-content;
  padding: 20px 28px;
  border: none;
  font-size: 1.1em;
  border-radius: 10px;
  transition: 0.5s ease;
}
.sign-up-button:hover {
  background-color: rgb(70, 70, 70);
  transition: 0.5s ease;
}

/* Footer */

footer {
  background-color: rgb(41, 41, 41);
  padding: 20px 0 90px 0;
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  display: flex;
  /* justify-content: space-between; */
  font-family: "Poppins";
  /* gap: 0em; */
  color: white;
}

.footer-left {
  width: 60%;
  display: flex;
  gap: 1em;
  margin-top: 20px;
  flex-shrink: 0;
}

.footer-left-image {
  width: 35%;
}

.footer-left-image img {
  width: 100%;
}

.footer-left-text {
  width: 65%;
}
.footer-left-text p {
  width: fit-content;
}

.footer-right {
  flex-shrink: 1;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
}

.our-work,
.follow {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.our-work p,
.follow p {
  margin-bottom: 5px;
  font-weight: 700;
}
.our-work a,
.follow a {
  color: white;
}

/* Responsive  */

@media screen and (max-width: 1400px) {
  .banner-info-container {
    font-size: 140%;
  }
}
@media screen and (max-width: 1000px) {
  /* Navbar Section */
  .desktop-links:not(:last-child) {
    display: none;
  }
  .desktop-links:last-child {
    display: block;
  }
  .changing-img {
    flex-shrink: 0;
    width: 450px;
    /* width: 40%; */
  }
  .quote-div {
    font-size: 90%;
  }
}

@media screen and (max-width: 900px) {
  .banner-info-container {
    font-size: 120%;
  }
  .banner-section {
    padding: 0 10px 40px 10px;
  }
  .banner-info-container {
    height: 75%;
    font-size: 110%;
  }
  .quote-div {
    font-size: 80%;
  }
}
@media screen and (max-width: 820px) {
  .changing-container {
    flex-direction: column-reverse;
  }
  .doctoral-container {
    flex-direction: column;
  }
  .changing-doctoral-container {
    padding: 50px 20px;
  }
  .changing-img,
  .doctoral-img {
    width: 100%;
  }
  .quote-div {
    background-position: 25%;
    padding: 40px 30px;
  }
  .quote-div p {
    width: 100%;
  }

  /* Sign up section */

  .sign-up-events-container {
    flex-direction: column;
    gap: 2.5em;
    font-size: 90%;
  }
  .sign-up-text {
    width: 100%;
    gap: 1em;
  }
  .sign-up-form {
    width: 100%;
  }

  /* Footer  */

  .footer-container {
    /* padding: 60px 20px; */
    flex-direction: column-reverse;
    gap: 2em;
  }

  .footer-left {
    width: 100%;
    flex-direction: column;
  }
  .footer-left-text,
  .footer-left-image {
    width: 100%;
    display: flex;
  }

  .footer-left-image img {
    /* width: 40%; */
    width: 230px;
    margin: 0 auto;
  }

  .footer-right {
    width: 100%;
  }
}
