<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/banner-v2.css" />
  </head>
  <body>
    <section id="home" class="banner-section">
      <div class="banner-container">
        <div class="banner-info-container">
          <div class="banner-text">
            <div class="banner-head-text">
              <h1>
                Innovating for a Cleaner Future: Detecting Microplastics with
                Cutting-Edge Technology.
              </h1>
              <p>
                A clean and modern image of an ocean or river, subtly overlaid
                with a darkened filter to make the text stand out. The image
                could include a close-up of water with a gentle ripple effect,
                symbolizing purity and the importance of clean water.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
          <div class="banner-sub-image">
            <img src="../public\img\banner.png" alt="" />
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
