<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TinyML-IoT</title>
    <link
      rel="icon"
      href="https://i0.wp.com/abbatekgroup.com/wp-content/uploads/2023/01/cropped-abbatek-logo-condensed.png?fit=192%2C192&amp;ssl=1"
      sizes="192x192"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="desktop-nav">
          <li>
            <a href="/" rel="noopener no referrer"
              ><img src="\img\Abbatek.webp" alt="Abbatek Logo"
            /></a>
          </li>
          <li class="desktop-links links-to-animate">
            <a href="#home" rel="noopener no referrer">Home</a>
          </li>
          <li class="desktop-links links-to-animate">
            <a href="#about" rel="noopener no referrer">About</a>
          </li>

          <li class="desktop-links links-to-animate">
            <a href="#people" rel="noopener no referrer">People</a>
          </li>
          <li class="desktop-links links-to-animate">
            <a href="#project" rel="noopener no referrer">Projects</a>
          </li>
          <li class="desktop-links links-to-animate">
            <a href="#contact" rel="noopener no referrer">Contact us</a>
          </li>

          <li class="desktop-links nav-icon-close">
            <a href="#" rel="noopener no referrer"
              ><svg
                class="mobile-close-sidebar-icon nav-icon-close"
                xmlns="http://www.w3.org/2000/svg"
                height="35px"
                viewBox="0 -960 960 960"
                width="35px"
                fill="black"
              >
                <path
                  d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"
                /></svg
            ></a>
          </li>
        </ul>

        <ul class="mobile-nav">
          <li class="mobile-links mobile-open-sidebar-icon nav-icon-open">
            <a href="#" rel="noopener no referrer"
              ><svg
                class="mobile-open-sidebar-icon"
                xmlns="http://www.w3.org/2000/svg"
                height="35px"
                viewBox="0 -960 960 960"
                width="35px"
                fill="#e8eaed"
              >
                <path
                  d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"
                /></svg
            ></a>
          </li>

          <div class="seperations">
            <li class="mobile-links links-to-animate">
              <a href="#" rel="noopener no referrer">Solutions</a>
            </li>
            <li class="mobile-links links-to-animate">
              <a href="#" rel="noopener no referrer">SMARTMP Login</a>
            </li>

            <li class="mobile-links links-to-animate">
              <a
                href="https://abbatekgroup.com/about-us/"
                rel="noopener no referrer"
                >About</a
              >
            </li>
            <li class="mobile-links links-to-animate">
              <a href="#" rel="noopener no referrer">Contact</a>
            </li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <!-- Banner Section -->

      <section id="home" class="banner-section">
        <div class="banner-container">
          <div class="banner-info-container">
            <div class="banner-text">
              <div class="banner-head-text">
                <h1>Accessible</h1>
                <h1><span class="accurate">Accurate</span></h1>
                <h1>Actionable</h1>
              </div>
              <p>
                Join Us in Our Mission to Protect Our Oceans and Waterways.
                Discover Our Advanced Solutions for In-Situ Microplastic
                Detection.
              </p>
              <a href="#">Learn More</a>
            </div>
            <div class="banner-sub-image">
              <img src="/img/output-onlinegiftools.gif" alt="" />
            </div>
          </div>
        </div>
      </section>

      <!-- What Makes us Unique -->

      <section class="unique-section">
        <div class="unique-container">
          <div class="unique-header">
            <h2>What Makes us <span class="unique-word">Unique</span>?</h2>
            <p>
              AbbaTek stands out with its advanced, real-time microplastic
              detection technology.
            </p>
          </div>
          <hr />
          <div class="unique-list">
            <div class="unique">
              <i class="fa-solid fa-magnifying-glass-chart"></i>
              <h5>Real-time Detection</h5>
              <p>
                Our system offers in-situ detection for real-time monitoring in
                natural environments without the need of lab analysis.
              </p>
            </div>
            <div class="unique">
              <i class="fa-solid fa-laptop-code"></i>
              <h5>Integrated Solution</h5>
              <p>
                Our integrated sensor and machine learning provide a more
                accurate and efficient solution for microplastics detection.
              </p>
            </div>
            <div class="unique">
              <i class="fa-solid fa-leaf"></i>
              <h5>Sustainability Focus</h5>
              <p>
                Our solutions prioritize environmental sustainability,
                minimizing ecological impact and protecting water bodies.
              </p>
            </div>
          </div>
        </div>
      </section>

      <!-- Features and Services -->
      <section class="services-section">
        <div class="services-container">
          <div class="service-header">
            <h2>Features</h2>
            <h1>Our Features & Services</h1>
          </div>
          <hr />
          <div class="main-services">
            <div class="services">
              <img
                src="hand-drawn-ocean-plastic-pollution-illustration.png"
                alt=""
              />
              <h4>Microplastic Detection Systems:</h4>
              <p>
                We offer advanced detection systems that utilize our proprietary
                sensor technology and machine learning models to identify
                microplastics in real-time.
              </p>
            </div>
            <div class="services">
              <img src="analysis-concept-illustration.png" alt="" />
              <h4>Data Analysis and Reporting</h4>
              <p>
                Comprehensive data analysis and reporting services, providing
                detailed insights into microplastic pollution levels and trends.
              </p>
            </div>
            <div class="services">
              <img
                src="./people-analyzing-growth-charts-illustrated.png"
                alt=""
              />
              <h4>Ongoing Support and Maintenance</h4>
              <p>
                Continuous support and maintenance services to ensure the
                optimal performance of our detection systems, including software
                updates and sensor calibration.
              </p>
            </div>
          </div>
        </div>
      </section>

      <section class="mvv-section">
        <div class="mvv-container">
          <div class="mission mvv-each">
            <i class="fa-solid fa-bullseye bullseye mvv-logo"></i>
            <h2>Our <span class="mvv-words">Mission</span></h2>
            <p>
              To pioneer innovative solutions for the detection and reduction of
              microplastics in the environment, leveraging cutting-edge
              technology and research to protect our ecosystems and promote a
              cleaner, sustainable future.
            </p>
            <i class="fa-solid fa-bullseye bullseye"></i>
          </div>
          <div class="vision mvv-each">
            <i class="fa-regular fa-lightbulb lightbulb mvv-logo"></i>

            <h2>Our <span class="mvv-words">Vision</span></h2>

            <p>
              To be a global leader in environmental protection through advanced
              detection technologies, ensuring that our waterways and oceans are
              free from microplastic pollution, and contributing to a healthier
              planet for future generations.
            </p>
            <fiv class="for-border">
              <i class="fa-regular fa-lightbulb lightbulb"></i>
            </fiv>
          </div>
          <div class="values mvv-each">
            <i class="fa-regular fa-square-check check-box mvv-logo"></i>

            <h2>Our <span class="mvv-words">Values</span></h2>
            <p>
              Constantly push the boundaries of technology to develop new
              solutions for environmental challenges. Commit to practices and
              products that promote long-term environmental health and
              sustainability.
            </p>

            <i class="fa-regular fa-square-check check-box mvv-logo"></i>
          </div>
        </div>
      </section>

      <!-- Newsletter Section -->

      <section class="newsletter-section">
        <div class="newsletter-container">
          <div class="leaf-image">
            <img src="./newsletter.png" alt="" />
          </div>
          <div class="newsletter-content">
            <h1>Subscribe to our Newsletter</h1>
            <p>
              Stay informed with the latest advancements in microplastic
              detection and environmental protection. Subscribe to our
              newsletter for exclusive insights, research updates, and
              innovative solutions from AbbaTek.
            </p>

            <div class="newsletter-form">
              <form action="">
                <input
                  type="email"
                  id="email"
                  name="email"
                  placeholder="Enter a valid email address"
                />
                <button type="submit">SUBMIT</button>
              </form>
            </div>
          </div>
        </div>
      </section>

      <!--  Our Team Section -->

      <section class="our-team-section">
        <div class="row">
          <h1>Our Team</h1>
        </div>
        <!-- Profiles for each team -->
        <div class="row profiles">
          <!-- Column 1-->
          <!-- Ivo's Profile-->
          <div class="column">
            <div class="card">
              <div class="img-container img-1">
                <!-- <img src="./abdul.jpg" /> -->
              </div>
              <h3>Ivo Arrey</h3>
              <p>Founder</p>
              <div class="icons">
                <a
                  href="https://ca.linkedin.com/in/ivo-agbor-arrey-17a39b54"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fa-brands fa-x-twitter"></i>
                </a>
                <a href="mailto:arrey@abbatekgroup.com" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- Column 2-->
          <!-- Abdul's Profile-->
          <div class="column">
            <div class="card">
              <div class="img-container img-2">
                <!-- <img src="./IA.jpeg" /> -->
              </div>
              <h3>Abdul Latif</h3>
              <p>Co-Founder</p>
              <div class="icons">
                <a
                  href="https://ca.linkedin.com/in/abdul-latif-alhassan-927270b3"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fa-brands fa-x-twitter"></i>
                </a>

                <a href="mailto:alhassan@abbatekgroup.com" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- Column 3-->
          <!-- Jackie's Profile-->
          <div class="column">
            <div class="card">
              <div class="img-container img-3">
                <!-- <img src="jackey.jpg" /> -->
              </div>
              <h3>Jackie Bauman</h3>
              <p>Co-Founder</p>
              <p></p>
              <div class="icons">
                <a
                  href="https://www.linkedin.com/in/jackie-ray-bauman-645a45142/"
                  target="_blank"
                >
                  <i class="fab fa-linkedin"></i>
                </a>
                <a href="#" target="_blank">
                  <i class="fa-brands fa-x-twitter"></i>
                </a>

                <a href="mailto:jrbauman@abbatekgroup.com" target="_blank">
                  <i class="fas fa-envelope"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
        <hr />
      </section>

      <!-- AbbaTek Partners' section  -->
      <section class="partner-section">
        <h2>Our Partners</h2>
        <div class="logos">
          <div class="logos-slide">
            <img
              src="./img\abbatek-partners\mun-university.png"
              alt="2560px-Memorial_University_of_Newfoundland_Logo"
            />
            <img src="./img\abbatek-partners\Canada-NRC-CNRC.png" alt="" />
            <img src="./img/abbatek-partners/foresight.png" alt="" />
            <img src="./img\abbatek-partners\propel-logo.png" alt="" />

            <img src="./img\abbatek-partners\ocean-startup.jpg" alt="" />
            <img src="./img\abbatek-partners\genesis.png" alt="" />
            <img src="./img\abbatek-partners\mitacs_colour.jpg" alt="" />
          </div>
          <div class="logos-slide">
            <img
              src="./img\abbatek-partners\mun-university.png"
              alt="2560px-Memorial_University_of_Newfoundland_Logo"
            />
            <img src="./img\abbatek-partners\Canada-NRC-CNRC.png" alt="" />
            <img src="./img\abbatek-partners\foresight.png" alt="" />
            <img src="./img\abbatek-partners\propel-logo.png" alt="" />
            <img src="./img\abbatek-partners\ocean-startup.jpg" alt="" />

            <img src="./img\abbatek-partners\genesis.png" alt="" />
            <img src="./img\abbatek-partners\mitacs_colour.jpg" alt="" />
          </div>
        </div>
      </section>

      <!-- Quote Section -->

      <section class="quote-section">
        <div class="quote-div">
          <p>
            "AbbaTek Group is at the forefront of research on microplastic
            pollution, designing cutting-edge prototypes that utilize machine
            learning and advanced sensor technology for accurate detection and
            analysis. Our work bridges the gap between scientific discovery and
            practical application, helping to combat the growing threat of
            microplastics in our ecosystems"
          </p>
        </div>
      </section>

      <!-- Need Our Sevices Section -->

      <section class="contact-section">
        <div class="contact-container">
          <div class="main-contact-form">
            <h3>Need our Services?</h3>
            <form action="">
              <input type="text" name="name" id="name" placeholder="Name" />
              <input type="email" name="email" id="email" placeholder="Email" />
              <input
                type="text"
                name="subject"
                id="subject"
                placeholder="Subject"
              />
              <textarea
                name="message"
                id="message"
                placeholder="Message"
              ></textarea>
              <button type="submit">Submit</button>
            </form>
          </div>
          <div class="contact-img-container">
            <img src="/img/contact.png" alt="" />
          </div>
        </div>
      </section>
    </main>

    <script
      src="https://kit.fontawesome.com/12a71ec4df.js"
      crossorigin="anonymous"
    ></script>
    <script src="script.js"></script>
  </body>
</html>
