* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
}

html {
  scroll-behavior: smooth;
}

header {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 20px 0;
  /* background-color: #1d1e70; */
  /* background-color: #2224bb; */
  /* background-color: #6611d4; */
  /* background-color: #8c1bbd; */
  background-color: rgb(47, 23, 147);

  /* user-select: none; */
}

header nav {
  padding: 0 40px;

  font-size: 0.9rem;
  letter-spacing: 0.09em;
  margin: 0 auto;
}
.desktop-nav {
  list-style: none;
  margin: auto 0;
  display: flex;
  /* gap: 3.5em; */
  justify-content: flex-end;
  align-items: center;
  font-size: 1.1em;

  /* border: 2px solid black; */
}
.desktop-nav li img {
  width: 220px;
  background-color: white;
  padding: 18px 10px;
  border-radius: 50px;
}
.desktop-nav li:first-child {
  margin-right: auto;
}
.desktop-links:not(:first-child) {
  padding: 0 30px;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
}

.desktop-links:last-child {
  display: none;
}

.links-to-animate a {
  position: relative;
}

.links-to-animate a:hover {
  color: rgb(151, 175, 255);
  /* color: rgb(73, 115, 255); */
  transition: all 0.5s;
}
.links-to-animate a:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 0px;
  bottom: -5px;
  left: 50%;

  /* left: 20px; */
  background-color: rgb(139, 158, 221);
  transition: all 0.5s;
}
.links-to-animate a:hover:after {
  width: 100%;
  left: 0;
}
/*  */

.mobile-nav {
  background-color: rgb(34, 36, 68);
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
  z-index: 999;

  position: fixed;
  top: 0;
  right: 0;
}
.mobile-links {
  text-align: center;
}
.mobile-open-sidebar-icon {
  /* background-color: red; */
  margin-left: auto;
  margin-right: 20px;
}
.seperations {
  height: 75%;
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: center;
}
.mobile-links a {
  color: white;
}
.desktop-close-sidebar-icon {
  fill: black;
}
.mobile-open-sidebar-icon {
  fill: white;
}

/* ===== Banner Section ===== */
.banner-container {
  padding: 30px 40px 30px 40px;
  /* background-color: #5854ac; */
  background-color: #2f1793;
  /* background-image: linear-gradient(
        rgba(47, 23, 147, 0.7),
        rgba(47, 23, 147, 0.7)
      ),
      url("/img/studio-background-concept-abstract-empty-light-gradient-purple-studio-room-background-product.jpg"); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  margin: 0 auto;
}

.banner-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2em;
  max-width: 1600px;
  margin: 0 auto;
}
.banner-text {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.banner-head-text h1 {
  font-size: 5em;
  font-weight: 300;
  text-shadow: 1px 1px black;
  /* color: rgb(109, 235, 224); */
  color: yellow;
}
/* span.accessible {
    font-weight: 500;
    color: #52abff;
  } */
span.accurate {
  font-weight: 500;
  color: yellow;
}
/* span.actionable {
    font-weight: 500;
    color: #e0e0e0;
  } */

.banner-sub-image {
  /* height: 650px; */
  background-color: transparent;

  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-info-container {
  display: flex;
}

.banner-text a {
  font-size: 1.3em;
  margin-top: 20px;
  width: fit-content;
  background-color: rgb(73, 255, 231);
  padding: 16px 12px;
  color: rgb(0, 0, 0);
  list-style-type: none;
  text-decoration: none;
  border-radius: 12px;
  transition: 0.5s all ease;
}
.banner-text a:hover {
  scale: 1.1;
  transition: 0.5s all ease;
}

.banner-text p {
  color: #eeeeee;
}

/* What Makes us Unique CSS */
.unique-section {
  padding: 100px 80px;
}

.unique-container {
  display: flex;
  flex-direction: column;
  gap: 4em;
}

.unique-header {
  text-align: center;
  font-size: 1.4em;
  max-width: 600px;
  margin: 0 auto;
}

.unique-header h2 {
  margin-bottom: 10px;
}

.unique-header p {
  font-size: 0.7em;
}

.unique-word {
  color: #5119eb;
}
.unique-container hr {
  width: 90%;
  margin: 0 auto;
  color: #5119eb;
  background-color: #5119eb;
  height: 3px;
}

.unique-list {
  display: flex;
  gap: 1.6em;
  flex-wrap: wrap;
  /* max-width: 800px; */
  justify-content: center;
  align-items: center;
}
.unique {
  display: flex;
  flex-direction: column;
  gap: 1em;
  text-align: center;
  max-width: 400px;
  box-shadow: 5px 5px 100px 5px rgba(0, 0, 0, 0.12),
    0 2px 2px rgba(0, 0, 0, 0.12), 0 4px 4px rgba(0, 0, 0, 0.12),
    0 8px 8px rgba(0, 0, 0, 0.12), 0 16px 16px rgba(0, 0, 0, 0.12);
  padding: 30px 20px;
  height: 330px;
}
.unique i {
  color: #5119eb;
  font-size: 3em;
  border: 2px solid rgb(91, 94, 255);
  width: fit-content;
  margin: 0 auto;
  padding: 18px;
  border-radius: 60px;
}
.unique h5 {
  font-size: 1.3em;
  color: #5863ff;
}
.unique p {
  font-size: 0.9em;
}

/* Features and Services */
.services-section {
  padding: 80px 40px;
  /* background-color: #5119eb; */
  /* background-color: #1d293e; */
  /* background-color: #16175c; */
  background-color: #230964;
}

.services-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
}
.services-container hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 20px;
}

.service-header {
  font-size: 1.6em;
  text-align: center;
  /* color: #c9b1ff; */
  /* color: #5119eb; */
  color: #ffff7a;
  text-shadow: 1px 1px black;
}

.service-header h2 {
  font-size: 1.2em;
  font-weight: 200;
  margin-bottom: 24px;
}
.service-header h1 {
  font-size: 2em;
  font-weight: 600;
}

.main-services {
  display: flex;
  justify-content: center;
  gap: 3em;
}
.services {
  text-align: center;
  max-width: 400px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 40px 20px;
  background-color: #656fff;
}

.services:first-child img {
  width: 300px;
}
.services img {
  width: 300px;
}
.services img {
  width: 300px;
}
.services h4 {
  font-size: 2em;
  margin: 20px 0;
  color: #ffff7a;
  text-shadow: 1.3px 1.3px 1px rgb(0, 0, 0);
  /* text-shadow: 2px 2px 0px #000000, -1px -1px 0px #000000, 2px -2px 0px #fff,
    -2px 2px 0px #fff; */
}

.services p {
  color: rgb(255, 255, 255);
  font-size: 1em;
}

/* ===== MVV CSS ===== */
.mvv-section {
  padding: 80px 40px;
}
.mvv-container {
  display: flex;
  justify-content: center;
  gap: 5em;
}
.mvv-each {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  text-align: center;
  gap: 2em;
}
.mvv-each i:first-child {
  width: 100%;
  font-size: 9em;
}
.mvv-each i:last-child {
  font-size: 3em;
}
.mvv-each p {
  margin-bottom: 10px;
}
.vision .mvv-logo {
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.for-border {
  width: 100%;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.mvv-each:nth-of-type(1) .mvv-words,
.bullseye {
  color: red;
}
.mvv-each:nth-of-type(2) .mvv-words,
.lightbulb {
  color: #2997ee;
}
.mvv-each:nth-of-type(3) .mvv-words,
.check-box {
  color: #00ed9f;
}

/* Newsletter CSS */

.newsletter-section {
  background-color: #1d293e;
}

.newsletter-container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  position: relative;
  gap: 1em;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  max-width: 700px;
  padding: 80px 30px 80px 30px;
  color: #f8ff98;
}

.newsletter-content h1 {
  font-size: 2.4em;
  font-weight: 400;
}

.newsletter-content p {
  font-size: 0.9em;
  line-height: 1.7em;
}

.newsletter-form input {
  padding: 10px 8px;
  font-size: 0.9em;
  width: 78%;
  background-color: white;
  outline: none;
  border: 1px solid black;
  /* margin-right: 10px; */
}
.newsletter-form input:focus {
  background-color: white;
  outline: none;
}

.newsletter-form button {
  padding: 10px 26px;
  background-color: rgb(252, 220, 41);
  color: black;
  letter-spacing: 2px;
  border: none;
  cursor: pointer;
}

.leaf-image img {
  width: 400px;
}

/* ===== Our Team CSS ===== */

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 4em 1em 4em 1em;
  text-align: center;
  justify-content: center;
  gap: 1.6em;
}
.row.profiles {
  padding: 0em 1em 8em 1em;
}
.column {
  width: 600px;
  padding: 0.5em 0;
}
.row h1 {
  width: 100%;
  text-align: center;
  font-size: 3.5em;
  color: #8772ff;
}
.card {
  box-shadow: 0 0 2.4em rgba(25, 0, 58, 0.1);
  padding: 3.5em 1em;
  border-radius: 0.6em;
  color: #1f003b;
  /* cursor: pointer; */
  transition: 0.3s;
  background-color: #ffffff;
  transition: 0.3s all ease;
}
.card .img-container {
  box-sizing: border-box;
  width: 12em;
  height: 12em;
  /* background-color: #a993ff; */
  outline: 2px solid rgb(128, 73, 255);
  padding: 0.5em;
  border-radius: 50%;
  margin: 0 auto 2em auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: 0.5s all ease;
}
.img-container.img-1 {
  background-image: url("/img/IA.jpeg");
}
.img-container.img-2 {
  background-image: url("/img/abdul.jpg");
  background-position: right;
}
.img-container.img-3 {
  background-image: url("/img/jackey.jpg");
  background-position: top;
}

.card h3 {
  font-weight: 500;
  font-size: 1.8em;
  color: #563af3;
}
.card p {
  font-weight: 300;
  text-transform: uppercase;
  margin: 0.5em 0 2em 0;
  letter-spacing: 2px;
}
.icons {
  width: 50%;
  min-width: 180px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3em;
}
.card a {
  text-decoration: none;
  color: inherit;
  font-size: 1.7em;
}
.card:hover {
  background: linear-gradient(#6045ea, #8567f7);
  color: #ffffff;
  transition: 0.3s all ease;
}
.card:hover .img-container {
  transform: scale(1.15);
  transition: 0.5s all ease;
}

.our-team-section hr {
  width: 90%;
  margin: 0 auto 50px auto;
}

/* ===== AbbaTek Partners Styles ===== */

@keyframes slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
.partner-section {
  max-width: 1500px;
  margin: 0 auto;
  font-family: "Poppins";
  padding: 20px 30px 00px 30px;
}
.partner-section h2 {
  text-align: center;
  font-weight: 800;
  font-size: 3em;
  color: #8772ff;
}
.logos {
  overflow: hidden;
  padding: 40px 0;
  background: white;
  white-space: nowrap;
  position: relative;
}

.logos:before,
.logos:after {
  position: absolute;
  top: 0;
  width: 15%;
  height: 100%;
  content: "";
  z-index: 2;
}

.logos:before {
  left: 0;
  background: linear-gradient(to left, rgba(255, 255, 255, 0), white);
}

.logos:after {
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), white);
}

.logos:hover .logos-slide {
  animation-play-state: paused;
}

.logos-slide {
  display: inline-block;
  animation: 20s slide infinite linear;
}

.logos-slide img {
  height: 140px;
  margin: 0 40px;
}

/* ===== Quote Section ===== */

.quote-div {
  /* height: 600px; */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  font-family: "Poppins";
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/img/quote-background.jpg");

  background-size: cover;
  background-position: bottom center;
  background-repeat: no-repeat;
  padding: 40px 0px;
}
.quote-div p {
  text-shadow: 1px 1px black;
  font-size: 1.9em;
  width: 80%;
  font-style: italic;
  color: white;
}

/* Need Our Service CSS*/

.contact-container {
  display: flex;
  max-width: 1300px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 112px 30px;
}

.main-contact-form {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  padding: 48px;
  border: none;
  border-radius: 20px;
  box-shadow: 5px 5px 100px 5px rgba(0, 0, 0, 0.07),
    0 2px 2px rgba(0, 0, 0, 0.07), 0 4px 4px rgba(0, 0, 0, 0.07),
    0 8px 8px rgba(0, 0, 0, 0.07), 0 16px 16px rgba(0, 0, 0, 0.07);
}
.main-contact-form h3 {
  text-align: center;
  font-size: 1.6em;
  /* font-size: 24px; */
  font-weight: 400;
  margin-bottom: 30px;
}
.main-contact-form form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.main-contact-form form input,
.main-contact-form form textarea {
  padding: 14px 16px;
  border-radius: 10px;
  border: 1px solid #c5c5c5;
  font-size: 1em;
}
.main-contact-form form textarea {
  min-height: 120px;
}
.main-contact-form form input:focus,
.main-contact-form form textarea:focus {
  outline: none;
  background-color: white;
}
.main-contact-form button {
  padding: 12px 16px;
  font-size: 1em;
  color: white;
  background-color: #9b51e0;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.5s ease all;
}

.main-contact-form button:hover {
  background-color: #b56ef8;
  transition: 0.5s ease all;
}

.contact-img-container img {
  width: 600px;
}

/* Footer */

.footer-container {
  line-height: 1.5;
  max-width: 1170px;
  margin: auto;
}
.footer-row {
  display: flex;
  flex-wrap: wrap;
}
.footer-col ul {
  list-style: none;
}
.footer {
  background-color: #000000;
  padding: 70px 0;
}
.footer-col {
  width: 25%;
  padding: 0 15px;
}
.footer-col h4 {
  font-size: 18px;
  color: #ffffff;

  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  background-color: #9254f5;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child) {
  margin-bottom: 10px;
}
.footer-col ul li a {
  font-size: 16px;

  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover {
  color: #a69dff;
  padding-left: 8px;
}
.footer-col .social-links a {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255, 255, 255, 0.2);
  margin: 0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover {
  /* color: #24262b; */
  color: #24262b;
  background-color: #ffffff;
}

/* ===== Responsive Layouts ===== */

@media screen and (max-width: 1300px) {
  /* ===== Features and Services CSS ===== */
  .services {
    font-size: 90%;
  }
}
@media screen and (max-width: 1200px) {
  /* ===== Banner CSS ===== */
  .banner-info-container {
    /* flex-direction: column; */
    font-size: 90%;
    text-align: center;
  }
  .banner-sub-image img {
    align-self: center;
    margin: 0 auto;
    width: 500px;
  }
  .banner-text {
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  /* ===== Features and Services CSS ===== */
  .main-services {
    flex-direction: column;
    align-items: center;
  }
  .services {
    font-size: 110%;
    max-width: 600px;
  }

  .services img {
    width: 350px;
  }
  .service-header {
    font-size: 130%;
  }

  /* ===== MVV CSS =====  */
  .mvv-container {
    font-size: 90%;
  }

  /* ===== Need Our Service CSS ===== */
  .contact-container {
    flex-direction: column;
    gap: 2em;
  }
}

@media screen and (max-width: 1000px) {
  /* ===== Banner CSS ===== */
  .banner-info-container {
    flex-direction: column;
    font-size: 100%;
  }
  .banner-sub-image img {
    width: 100%;
  }

  /* ===== MVV CSS =====  */
  .mvv-container {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }
  .for-border {
    display: none;
  }

  .mvv-each i:last-child {
    display: none;
  }
  .vision .mvv-logo {
    border: none;
  }
  .mvv-each {
    border-bottom: 1px solid black;
  }
  .mvv-each p {
    margin-bottom: 40px;
  }

  /* ===== Newsletter CSS */

  .newsletter-container {
    flex-direction: column-reverse;
    gap: 0;
    font-size: 90%;
  }
  .newsletter-content {
    padding: 30px 30px 10px 30px;
  }

  /* ===== Our Team CSS ===== */
  .our-team-section {
    padding: 1em;
  }
  .card {
    padding: 5em 1em;
  }
  /* .column {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 1em;
  } */

  /* Navbar Section */
  .desktop-links:not(:last-child) {
    display: none;
  }
  .desktop-links:last-child {
    display: block;
  }

  /* Quote Section */
  .quote-div {
    font-size: 80%;
  }
}

@media screen and (max-width: 900px) {
  /* ===== Footer CSS ===== */
  .footer-col {
    width: 50%;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 780px) {
  /* ===== Banner CSS ===== */
  .banner-info-container {
    font-size: 90%;
  }

  /* ===== Unique CSS ===== */
  .unique-section {
    padding: 100px 20px;
  }

  /* ===== Newsletter CSS  =====*/

  .newsletter-form form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  .newsletter-form form button {
    width: fit-content;
  }

  /* ===== Our Team CSS ===== */
  /* .our-team-section {
    padding: 1em 7em;
  } */

  /* ===== Quote CSS ===== */
  .quote-div {
    background-position: 25%;
    padding: 40px 30px;
  }
  .quote-div p {
    width: 100%;
  }

  /* ===== Contact CSS ===== */
  .contact-img-container {
    display: flex;
    justify-content: center;
  }
  .contact-img-container img {
    width: 100%;
  }
}

@media screen and (max-width: 550px) {
  /* Navbar CSS */
  .desktop-links:last-child {
    margin: 0;
    padding: 0;
  }
  .desktop-nav li a img {
    padding: 14px 8px;
    width: 170px;
  }

  /* ===== Banner CSS ===== */
  .banner-container {
    padding: 30px 20px 30px 20px;
  }
  .banner-info-container {
    font-size: 80%;
  }

  /* ===== Unique CSS ===== */
  .unique-header {
    font-size: 115%;
  }
  .unique {
    font-size: 100%;
    height: 300px;
  }

  /* ===== Features and Services CSS ===== */
  .services {
    font-size: 85%;
    max-width: 600px;
    padding: 20px 20px;
  }
  .services img {
    width: 90%;
  }
  .service-header {
    font-size: 110%;
  }

  /* ===== Newsletter CSS ===== */
  .newsletter-form form input {
    width: 100%;
  }
  .leaf-image {
    display: flex;
    justify-content: center;
  }
  .leaf-image img {
    width: 80%;
  }

  /* ===== Need Our Service CSS =====*/

  .main-contact-form {
    padding: 48px 20px;
  }

  /* ===== Footer CSS ===== */
  .footer-col {
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  /* ===== Banner CSS ===== */
  .banner-info-container {
    font-size: 70%;
  }

  /* ===== Features and Services CSS ===== */
  .services {
    font-size: 70%;
  }

  /* ===== MVV CSS =====  */
  .mvv-container {
    font-size: 90%;
  }

  /* ===== Need Our Service CSS =====*/
  .main-contact-form form,
  .main-contact-form {
    font-size: 90%;
  }
}
